<h1 id="h">

</h1>
    <body>
        <div id="button" style="float: left;width: 24%;outline-style:solid ;">
            <div id = "user">
                <p>User Functions</p>
                <button type="button" id="pro">View My Profile</button><br>
                <button type="button" id="change">Edit My Profile</button><br>
                <button type="button" id="myb">My Books</button><br>
                <button type="button" id="search">Search Book</button><br>
                <button type="button" id="borrow">Borrow Book</button><br>
                <button type="button" id="out">Log Out</button>
            </div>
            <div id="librarian" style="display: none;">
                <p>librarian Functions</p>
                <br><button type="button" id="add">Add Book</button>
                <br><button type="button" id="Remove">Remove Book</button>
                <br><button type="button" id="newuser">Add User</button>
                <br><button type="button" id="removeuser">Remove User</button>
            </div>
        </div>
        <div style="float: right;width: 74%;outline-style:solid ;">
            <div id="view">
            </div>
            <div id="bottom"></div>
        </div>
    </body>