<nav>
  <a routerLink="/login" routerLinkActive="active"></a>
</nav>



<body>
  
  <div class="wrap">
      <div class="title"><strong>Welcome to Library Catalogue<br></strong></div>
    <p style="font-size:24pt">By Zifeng Chen, Stephen Koffler, Mohammad Ahmar, Caleb Zhang</p>

      <div id="inout"class="display" style="Width:35%">
        <form >
          Username <br><input id="user" type="text" class="u"style="Width:75%"><br>
          Password<br> <input id="pass" type="text" class="p"style="Width:75%"><br>
          <input id="login" type="button" class="button" value="Submit">
        </form>
        <input id="clickMe" type="button"class="button" value="Register" onclick="gotoReg();" />
      </div>


  </div>

</body>