<p>Welcome to Registration</p>
<p>Please supply the following information to register</p>

<form id="regform">

    Username: <br>
    <input type ="text" name="username"  required>

    <br> Password: <br>
    <input type ="text" name="password" required>

    <br> Email: <br>
    <input type ="email" name="email"  required>

    <br> First Name: <br>
    <input type ="text" name="firstname"  required>

    <br> Last Name: <br>
    <input type="text" name="lastname" required>
    <br>
    <input id="reg" type="button" value="Register" />
    <br>
    <input id="back" type="button" value="back" />
</form>
<button id="return"style="display:none">click</button>