<p>Get Your Course Listing</p>

<div>



  <div class="display"></div>
  <!-- action attribute is the form handler -->
  <!-- method attribute is the HTTP method to be used -->
  <form action="input_ID" method="POST">
    <fieldset>
      <legend>Your id:</legend>
      <input required autocomplete="off" type="text" name="amount" />
    </fieldset>
    <br>
    <input type="submit" value="Submit" />
  </form>
</div>
</div>
<div>

  <h3 id=>These are Your Current Courses:</h3>
</div>

<div id="Courses" class="table">
  <div class="header-row">
    <div class="cell">Course ID</div>
    <div class="cell">Course Name</div>



  </div>