body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b85ac4;
}

div {
    padding: 10px;
    margin: 10px;
    background-color: #defabc;
}

.table {
	display: table;
	width: auto;
}

.row, .header-row {
	display: table-row;
	border-bottom: 1px dotted #333777;
}

.header-row {
	font-weight: bold;
}

.cell {
	display: table-cell;
	width: 125px;
	border-bottom: 1px dotted #333777;
}

.header-row .cell {
	background-color: orange;
	border-bottom: 2px solid blue;
}